<div class="footer">
  <div class="logo">
    <h3>E-shop</h3>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-twitter"></i>
  </div>
  <div class="footer-links">
    <div class="shop">
      <p>Shop</p>
      <a href="">About us</a>
      <a href="">Contact</a>
      <a href="">Location</a>
      <a href="">FQA</a>
    </div>
    <div>
      <p>Links</p>
      <a href="">Electronic</a>
      <a href="">summer</a>
      <a href="">Books</a>
    </div>
    <div>
      <p>Shop</p>
      <a href="">About us</a>
      <a href="">Contact</a>
      <a href="">Location</a>
      <a href="">FQA</a>
    </div>
  </div>
</div>
