<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/product">E-shop</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse links" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/product"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product/add">AddProduct</a>
        </li>
        <% if(! currUser) { %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">SignUp</a>
        </li>
        <% } %> 

        <% if(currUser) { %>
        <li class="nav-item">
          <a class="nav-link" href="/logout">logOut</a>
        </li>
        <% } %>
      </ul>
      <div class="icons">
        <p><i class="fa-solid fa-magnifying-glass"></i></p>
        <p><i class="fa-solid fa-heart"></i></p>
       <a href="/viewcart"> <p><i class="fa-solid fa-cart-plus"></i></p></a>
      </div>
    </div>
  </div>
</nav>
