<% layout('/layouts/boilerplate') -%>


<div class="log-cantainer " >
    <form method="post" action="login" class="col-6 offset-3 login">
    <div class="md-3">
        <label for="UserName">UserName</label>
        <input type="text" id="UserName" class="form-control" placeholder="Enter UserName" name="username">
    </div>
    <div class="md-3">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Enter Password" name="password">
    </div>
    <button class=" btn btn-success mt-3">Submit</button>
    
</form>
</div>

